{{ define "Footer" }}
    </body>
    <footer>
      <p>Author: Anthony Chatfield</p>
      <p><a href="mailto:anthony.chatfield@fincore.com">anthony.chatfield@fincore.com</a></p>
    </footer> 
</html>
{{ end }}