{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Song {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>Artist:  {{ .Artist }}</p>
      <p>GUID: {{ .GUID }} </p>
      <br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}